html {
    box-sizing: border-box;
    
}

*, *::after, *::before {
    box-sizing:inherit;
  }

a{
    text-decoration: none;
    color: #fff;
}

html, body {
    height: 100%
}
   


body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.section__title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
   
}

.section__text{
    line-height: 130%; /* 20.8px */
    text-align: left;
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}

.header__inner{
    padding: 40px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.menu__list{
    display: flex;
    gap: 35px;
    margin-left: 35px;
    
}

.menu__list-link{
    text-transform: uppercase;
    font-weight: 700;
    
}

.menu__list-link--active{
    color: #06F;
}

.main{
    flex-grow: 1;
}

.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.title{

padding-bottom: 40px;
font-size: 96px;
font-weight: 700;

}

.top__link{
    display: inline-block;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    background-color: #151515 ;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.top__link:hover{
    background-color: #06F ;
}

.swiper-slide{
    height: 100vh;
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 50px;
}

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background: #151515;
    border-radius: 0;
    opacity: 1;
    
    
}
.swiper-pagination-bullet-active{
    width: 120px;
    height: 6px;
    background: #fff;
    
}

.why-lease{
    color:#151515;
    margin: 150px 0;
}



.why-lease__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    
}

.why-lease__item{
    max-width: 270px;
    text-align: center;

}

.why-lease__item-img{
     margin-bottom: 30px;
}

.why-lease__item-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}



.how-work{
    margin-bottom: 150px;
    color:#151515;
}

.how-work__inner{
    max-width: 590px;
    margin: 0 auto;
}

.how-work__title{
    font-size: 24px;
    font-weight: 700;
    padding: 50px 0;
}

.how-work__list{
    margin-bottom: 70px;
    counter-reset: myCounter;
    
}

.how-work__item::before{
    counter-increment: myCounter;
    content: counter(myCounter) ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#06F;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    }

.how-work__item{
    position: relative;
    margin-bottom: 40px;
    margin-left: auto;
    width: 270px;
    box-sizing:content-box;
    padding: 19px 0 19px 240px ;
    min-height: 63px;
   
}

.video{
    margin-bottom: 150px;
    color:#151515
}

.video__title{
margin-bottom: 20px;
}
.video__text{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.video__content{
    display: block;
    margin: 0 auto;
}

.important{
    margin-bottom: 150px;
    color:#151515;
}

.important__title{
    margin-bottom: 20px;
}

.imp__text{
    max-width: 580px;
    margin: 0 auto 50px;
    
}

.important__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.important__item-img{
    margin-bottom: 20px;
}

.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}


.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list{
    max-width: 250px;
    
}

.footer__menu-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__menu-link{
    line-height: 130%
}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.footer__copy{
    
    margin: 0 auto 30px;
    max-width: 806px;
}

.footer__copy-text{
    font-size: 12px;
    text-align: center;
}



.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
        
}

.copy__nav-link{
    font-size: 16px;
    line-height: 130%;
}


.contacts{
    margin-bottom: 150px;
    margin-top: 100px;
    color: #151515;
}

.contacts__title{
    margin-bottom: 20px;
}

.contacts__text{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 50px;
}

.form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.form__input{
    width: 270px;
    margin-bottom: 50px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #06F;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #000;
    
}

.form__input::placeholder, .form__textarea::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #000;
    opacity: 0.5;
}

.form__textarea{
    width: 100%;
    height: 290px;
    resize: none;
    margin-bottom: 50px;
    padding: 28px 20px;
    display: inline-block;
    border: 1px solid #06F;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.form__btn{
    text-transform: uppercase;
    background-color: #151515;
    color: #fff;
    padding: 13px 61px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin: 0 auto;
}

.blog{
    margin-bottom: 150px;
    color: #151515;
}

.blog__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;
}

.blog__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item-img{
    width: 100%;
    margin-bottom: 30px;
}

.blog__item-text{
    font-size: 24px;
    font-weight: 700;
    flex-basis: 446px;
    margin-right: 10px;
}

.blog__item-link{
    text-transform: lowercase;
    background-color:#06F;
    padding: 4px 20px;
    max-height: 30px;
    
   
}

.show__link{
    display: block;
    padding: 13px;
    width: 225px;
    background-color: #151515 ;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    
    
}

.show__link:hover{
    background-color: #06F;
}

.choose-car{
    margin-top: 100px;
    margin-bottom: 150px;
}

.tabs{
    margin-bottom: 70px;
}

.tabs__btn{
   padding: 0 150px;
   display: flex;
   justify-content: space-between;
    gap: 80px;
   margin-bottom: 100px;
   
}

.tabs__btn-item{
    font-size: 24px;
    font-weight: 700;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

}

.tabs__btn-item--active{
    color:#06F
}

.tabs__content-item{
    display: none;
}

.tabs__content-item.tabs__content-item--active{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.car-card{
    text-align: center;
    
}

.card__content{
    padding: 0 5px;
    border-left: 1px solid #06F;
    border-right: 1px solid #06F;
    padding: 20px 0;
}

.card__img{
    display: block;
}

.card__title, .card__price{
    font-size: 24px;
    font-weight: 700;
    
}

.card__text{
    line-height: 130%;
    margin: 20px 0;
    
    
}

.card__link{
    display: inline-block;
    color:#06F;
    border: 1px solid #06F;
    padding: 0 5px;
    width: 100%;
}